<html>
	<head>
		<title>{#TITLE} - {#DATE}</title>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="../style-article.css" title="CSS Article Style" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
        <div id="navbar">
            <div id="navbar_content">
                <a href="../index.html">&#8592;</a>
            </div>
        </div>
		<div class="article">
            <h1>{#TITLE}</h1>
            <div class="header">
                {#DATE}
                <br>
                {#AUTHOR}
            </div>
            <br>
            {#CONTENT}
		</div>
	</body>
</html>
